.admin-form{
   
    text-align: center;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    width: 400px;
    /* height: 400px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px);
    box-shadow: -2px 7px 37px 8px rgba(0, 0, 0, 0.52);

   
}

.spectre-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.heading{
    text-align: center;
    margin: 2rem;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: bold;
    color: aqua;

}

.email,.password,.admin-btn{
    width: 70%;
    padding: 10px;
    margin: 1.5rem auto;

}

.admin-btn{
 /* background-color: #FFO3A9F4; */
 width: 75%;
 background-color: #00BFFF;
 border-radius: 25rem;
}

.admin-btn:hover{
    cursor: pointer;
    background-color: aqua;
}

.admin-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.welcome-pic{
    width: 5%;
    height: 10%;
    /* position: absolute;
    top: 5%;
    left: 50%; */
}

.admin-container   {
    /* The image used */
    background-image: url("https://i.pinimg.com/736x/3e/55/d4/3e55d4016fa9b4df4c361ed289becb4c.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;
    z-index: 0;
  }

  .link{
    color: blue;
    font-size: 15px;
    font-weight: 0;
  }

  .link:hover{
    text-decoration: none;
  }