* {
    box-sizing: border-box;
    padding: 0;
}

.userIcon {
    height: 45px;
    margin-left: 91%;
    margin-top: 1rem;
    color: black;
}

.navbar {
    position: sticky;
    align-items: center;
    justify-content: right;
    padding: 1.5rem 3.5rem;
    background-color: rgb(25, 129, 129);
}

.links {
    float: right;
    margin-top: 1rem;
    color: black;
    margin-right: 3rem;
}
.userDetails{
margin-left: 43rem;
margin-top: 2rem;
}
form {
    margin-left: 47em;
}

input {
    padding: 1rem 2rem;
    margin-top: 1rem;
    
}
.pw{
    margin-left: 7rem;
    margin-top: -2rem;
    color: blue;
    cursor: pointer;
}
button{
    padding: 5px 29px;
    margin-right: 9rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: cyan;
    cursor: pointer;
}
legend{
    margin-left: 46rem;
}
.remember{
    color: blue;
    margin-left: -12rem;
}
fieldset{
    padding-top: 2rem;
   padding-bottom: 2rem;
}   
.fieldset{
    margin-left: 47rem;
    margin-top: 0rem;
    color: blue;
    cursor: pointer;
}