.form{
    margin-left: 23rem;
    margin-top: 2rem;
}

.cardContainer{
    background-color: rgb(123, 248, 248);
    margin-top: 2rem;
    padding: 6rem 1rem;
    margin-left: 24rem;
    margin-right: 28rem;
    
}
h1{
    margin-left: -8rem;
}
input{
    border-radius: 0;
    padding: 12px;
    margin-left: -12rem;
    width: 50%;

}